html, body {
    margin: 0;
    padding: 0;
    background-color: #0E1117;
    overflow-x: hidden;
}

.rc-slider {
    width: 100%;
}

.rc-slider-tooltip,
.rc-slider-tooltip-inner {
    transform: none;
}

.rc-slider-tooltip-inner {
    background-color: #262B3C;
    color: #FAFAFA;
    border: none;
}