html, body {
    margin: 0;
    padding: 0;
    background-color: #0E1117;
    overflow-x: hidden;
}

.rc-slider-tooltip {
  transform: translateY(-5px) !important;
}

.rc-slider {
  width: 100% !important;
}

.rc-slider-tooltip-inner {
  background-color: #262B3C !important;
  color: #FAFAFA !important;
  border: none !important;
}